
Prolific Notes.txt
.DS_Store
data/pilot-a_data/Birch+&+Bloom+replication_October+29,+2023_20.09.csv
writeup/.DS_Store
writeup/Replication Report Template_files/libs/.DS_Store
data/pilot-b_data/Birch+&+Bloom+replication_November+24,+2023_16.10.csv
writeup/Replication-Report-Template_files/figure-html/unnamed-chunk-21-1.png
writeup/Replication-Report-Template_files/figure-html/unnamed-chunk-20-1.png
writeup/Replication-Report-Template_files/figure-html/unnamed-chunk-19-1.png
writeup/Replication-Report-Template_files/figure-html/unnamed-chunk-18-1.png
writeup/Replication-Report-Template_files/figure-html/unnamed-chunk-17-1.png
writeup/Replication-Report-Template_files/figure-html/unnamed-chunk-16-1.png
writeup/Replication-Report-Template_files/figure-html/unnamed-chunk-15-1.png
writeup/Replication-Report-Template_files/figure-html/unnamed-chunk-14-1.png
writeup/Replication-Report-Template_files/figure-html/unnamed-chunk-14-1.png
writeup/Replication-Report-Template_files/figure-html/unnamed-chunk-15-1.png
writeup/Replication-Report-Template_files/figure-html/unnamed-chunk-16-1.png
writeup/rsconnect/documents/Replication Report Template.qmd/rpubs.com/rpubs/Publish Document.dcf
writeup/Replication-Report-Template_files/figure-html/unnamed-chunk-14-1.png
data/final_data/Birch+&+Bloom+replication_December+7,+2023_11.14.csv
writeup/.Rhistory
writeup/.Rhistory
writeup/Replication Report_files/libs/bootstrap/bootstrap-icons.css
writeup/Replication Report_files/libs/bootstrap/bootstrap-icons.woff
writeup/Replication Report_files/libs/bootstrap/bootstrap.min.css
writeup/Replication Report_files/libs/bootstrap/bootstrap.min.js
writeup/Replication Report_files/libs/clipboard/clipboard.min.js
writeup/Replication Report_files/libs/quarto-html/anchor.min.js
writeup/Replication Report_files/libs/quarto-html/popper.min.js
writeup/Replication Report_files/libs/quarto-html/quarto-syntax-highlighting.css
writeup/Replication Report_files/libs/quarto-html/quarto.js
writeup/Replication Report_files/libs/quarto-html/tippy.css
writeup/Replication Report_files/libs/quarto-html/tippy.umd.min.js
writeup/Replication-Report_files/figure-html/unnamed-chunk-20-1.png
writeup/Replication-Report_files/figure-html/unnamed-chunk-21-1.png
writeup/Replication-Report_files/figure-html/unnamed-chunk-22-1.png
writeup/Replication-Report_files/figure-html/unnamed-chunk-23-1.png
writeup/rsconnect/documents/Replication Report Template.qmd/rpubs.com/rpubs/Document.dcf
writeup/rsconnect/documents/Replication Report Template.qmd/rpubs.com/rpubs/Publish Document.dcf
writeup/Replication Report_files/libs/bootstrap/bootstrap-icons.css
writeup/Replication Report_files/libs/bootstrap/bootstrap-icons.woff
writeup/Replication Report_files/libs/bootstrap/bootstrap.min.css
writeup/Replication Report_files/libs/bootstrap/bootstrap.min.js
writeup/Replication Report_files/libs/clipboard/clipboard.min.js
writeup/Replication Report_files/libs/quarto-html/anchor.min.js
writeup/Replication Report_files/libs/quarto-html/popper.min.js
writeup/Replication Report_files/libs/quarto-html/quarto-syntax-highlighting.css
writeup/Replication Report_files/libs/quarto-html/quarto.js
writeup/Replication Report_files/libs/quarto-html/tippy.css
writeup/Replication Report_files/libs/quarto-html/tippy.umd.min.js
writeup/Replication-Report_files/figure-html/unnamed-chunk-20-1.png
writeup/Replication-Report_files/figure-html/unnamed-chunk-21-1.png
writeup/Replication-Report_files/figure-html/unnamed-chunk-22-1.png
writeup/Replication-Report_files/figure-html/unnamed-chunk-23-1.png
writeup/rsconnect/documents/Replication Report Template.qmd/rpubs.com/rpubs/Document.dcf
writeup/rsconnect/documents/Replication Report Template.qmd/rpubs.com/rpubs/Publish Document.dcf
